.notice-bar {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #f4f9ff;
  border-radius: 10px;
  padding: 0 24px;
  img {
    width: 28px;
    height: 28px;
  }
  .tip-content {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin-left: 8px;
    .tip {
      margin-bottom: initial;
      font-size: 14px;
      text-align: left;
      color: rgba(12, 37, 65, 1);
      transition-property: transform;
      transition-timing-function: linear;
      list-style: none;
      padding: 0;
    }
  }

  .ellipsis {
    white-space: "nowrap";
    overflow: "hidden";
    text-overflow: "ellipsis";
  }
}
