.food-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 75px; */
  background: #ffffff;
  padding: 10px 0;
  position: relative;
}
.food-card__img .food-img {
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.food-card__info {
  margin: 0 15px;
  color: #000000;
  flex: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 65px;
  /* height: calc(100% - 15px); */
}

.food-card__info .info-header {
  min-width: 0;
  width: 100%;
}

.food-card__info-name {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  white-space: break-spaces;
}

.food-card__info-desc {
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}

.food-card__info-price {
  color: #ff4833;
  font-size: 8px;
}

.food-card__info-price > span {
  font-size: 18px;
  font-weight: 600;
}

.food-card__action {
  align-self: flex-end;
}

.food-card__action-normal {
  display: flex;
  align-items: center;
}

.food-card__action-normal .action-btn {
  width: 18px;
  height: 18px;
}
.food-card__action-normal .action-normal-number {
  margin: 0 8px;
}

.food-card__action-specifications {
  width: 50px;
  height: 24px;
  background: linear-gradient(135deg, rgba(233, 194, 134, 0.6) 0%, rgba(177, 132, 73, 0.6) 100%);
  border-radius: 6px;
}

.food-card__action-specifications .action-specifications {
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  line-height: 24px;
  border: unset;
  background-color: transparent;
}

.food-card__info-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}