.submit {
  background: #f6f6f6;
}

.submit__top {
  height: calc(100% - var(--order-botton-btn-height) - 30px);
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.submit__top-food-card {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  padding: 0 15px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.submit__top-food-card .food-card-title {
  font-size: 15px;
  font-weight: 600;
  color: #181818;
  margin: 12px 0;
  text-align: left;
}

.submit__top-food-card .food-card-divider {
  height: 1px;
  background: #f2f2f2;
}

.submit__top-food-card .food-list {
  flex: 1;
  overflow-y: scroll;
}

.submit__top-food-card .food-list::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.submit__top-food-card .food-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.submit__top-food-card .food-container .food-img > img {
  width: 75px;
  height: 75px;
}

.submit__top-food-card .food-container .food-info {
  margin-left: 15px;
  flex: 1;
  color: #000000;
  text-align: left;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
}

.submit__top-food-card .food-container .food-info .food-info-name {
  font-size: 15px;
  font-weight: 500;
}

.submit__top-food-card .food-container .food-info .food-info-specifications {
  font-size: 12px;
  font-weight: 400;
}

.submit__top-food-card .food-container .food-info .food-info-count {
  font-size: 12px;
  font-weight: 400;
}

.submit__top-food-card .food-container .food-price {
  font-size: 10px;
  font-weight: 500;
  color: #181818;
}

.submit__top-food-card .food-container .food-price > span {
  font-size: 16px;
}

.submit__top-remark > textarea {
  margin-top: 15px;
  width: 100%;
  border: 0px;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  padding: 8px 12px;
  font-size: 13px;
  box-sizing: border-box;
}

.submit__btn-container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -6px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  padding: 15px;
  box-sizing: border-box;
}

.text-ellipsis {
  white-space: nowrap; /* 禁止换行 */
  overflow: hidden; /* 隐藏溢出部分 */
  text-overflow: ellipsis; /* 使用省略号表示溢出的文本 */
}
